*
{
    margin: 0;
    padding: 0;
}

.product-small-img img
{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 1.6;
}
.product-small-img img:hover
{
    opacity: 1;
}
.product-small-img
{
    float: right;
}
.product
{
top: -20%;
left: 70%;
transform: translate(-50%,50%);
position: absolute;

}
.img-container img
{
height: 1000px;
}
.img-container
{
    float: right;
}
